@import "~font-awesome/css/font-awesome.css";
@import "./addons/simple-line-icons/simple-line-icons.scss";
@import "./addons/coreui-scss/style.scss";

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #232c39;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}
